{include file="public::pagerForm"/}
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <ul id="editWeb">
                <li><div class="buttonActive"><div class="buttonContent"><a href="{:url('Web/show',array('id'=>code($webInfo['id']?$webInfo['id']:'1',1),'sign'=>code('1',1)))}" target="dialog" mask="true" width='800' height='600'><button>编辑</button></a ></div></div></li>       
            </ul>
        </ul>
    </div>
    <table width="98%" layoutH="40" id="webInfo" nowrapTD="false" class="list">
        <tbody>
            <tr style="height: 30px;">
                <td style="width:150px;">网站名称</td>
                <td>{$webInfo.name|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td style="width:150px;">公司名称</td>
                <td>{$webInfo.company|default=''}</td>
            </tr>
            <tr>
                <td>网站 Icon</td>
                <td class="imgs">
                    <form method="post" action="/admin/web/edit?callbackType=closeCurrent" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this);">
                        <div style='float:left'>
                            <div class="upload-wrap">
                                <input type='hidden' name='id' value="{$webInfo.id|default=''}"/>
                                <input type='hidden' name='db' value="Web"/>
                                <input type="file" name="icon" accept="image/*" class="valid" style="left: 0px;">
                                <div class="thumbnail">
                                        <img src="{$webInfo.icon|default=''}" style="max-width: 80px; max-height: 80px">
                                        <a class="del-icon" href="{:url('/admin/common/changeImg')}"></a>
                                </div>                        
                            </div>
                        </div> 
                        <div style='float:left'>
                            <div class="buttonActive" style="margin-top:160%;"><div class="buttonContent"><button type="submit">提交</button></div></div>
                        </div>                    
                        <div style='clear:both'></div>                        
                    </form>                    
                </td>
            </tr>
            <tr>
                <td>LOGO</td>
                <td class="imgs">
                    <form method="post" action="/admin/web/edit?callbackType=closeCurrent" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this);">
                        <div style='float:left'>
                            <div class="upload-wrap">
                                <input type='hidden' name='id' value="{$webInfo.id|default=''}"/>
                                <input type='hidden' name='db' value="Web"/>
                                <input type="file" name="logo" accept="image/*" class="valid" style="left: 0px;">
                                <div class="thumbnail">
                                        <img src="{$webInfo.logo|default=''}" style="max-width: 80px; max-height: 80px">
                                        <a class="del-icon" href="{:url('/admin/common/changeImg')}"></a>
                                </div>                        
                            </div>
                        </div> 
                        <div style='float:left'>
                            <div class="buttonActive" style="margin-top:160%;"><div class="buttonContent"><button type="submit">提交</button></div></div>
                        </div>                    
                        <div style='clear:both'></div>                        
                    </form>                    
                </td>
            </tr>
            <tr>
                <td>公众号</td>
                <td class="imgs">
                    <form method="post" action="/admin/web/edit?callbackType=closeCurrent" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this);">
                        <div style='float:left'>
                            <div class="upload-wrap">
                                <input type='hidden' name='id' value="{$webInfo.id|default=''}"/>
                                <input type='hidden' name='db' value="Web"/>
                                <input type="file" name="wechat" accept="image/*" class="valid" style="left: 0px;">
                                <div class="thumbnail">
                                    <img src="{$webInfo.wechat|default=''}" style="max-width: 80px; max-height: 80px">
                                    <a class="del-icon" href="{:url('/admin/common/changeImg')}"></a>
                                </div>                        
                            </div>
                        </div> 
                        <div style='float:left'>
                            <div class="buttonActive" style="margin-top:160%;"><div class="buttonContent"><button type="submit">提交</button></div></div>
                        </div>                    
                        <div style='clear:both;height: 0;width: 0'></div>                        
                    </form>                    
                </td>
            </tr>
            <tr style="height: 30px;">
                <td>SEO关键字</td>
                <td>{$webInfo.keywords|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>网站描述</td>
                <td>{$webInfo.desc_|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>公司简介</td>
                <td>{$webInfo.company_profile|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>联系电话1</td>
                <td>{$webInfo.tel|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>联系电话2</td>
                <td>{$webInfo.tel_1|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>网址</td>
                <td>{$webInfo.weburl|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>邮箱</td>
                <td>{$webInfo.email|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>公司地址</td>
                <td>{$webInfo.address|default=''}</td>
            </tr>
            <tr style="height: 30px;">
                <td>版权信息</td>
                <td>{$webInfo.copyright|default=''}</td>
            </tr>
        </tbody>         
    </table>
</div>

<style>
    #webInfo{
        border: 1px solid #DAE0F1;margin-left: 10px;border-collapse: collapse;
    }
    #webInfo tr{
        height:55px;
    }
    #webInfo td{
        border: 1px solid #DAE0F1;
    }
    #editWeb{
        margin-right:93%;
    }
</style>
