<div class="pageContent">
    <form action="/admin/web/addAuth?callbackType=closeCurrent" method="post" class="pageForm required-validate"
          onsubmit="return validateCallback(this, dialogAjaxDone);">
        <input type="hidden" name="role_id" value="{$role_id}"/>
        <div class="pageFormContent" layoutH="58">
            {foreach $oneList as $nList}
                <div class="unit">
                    <input type="checkbox" onclick="clickData(this)" id="sel{$nList.id}" name="nodeId[]" value="{$nList.id}" {if in_array($nList.id,$rList)} checked {/if}/>{$nList.name|default=''}                   
                </div>
                <div class="unit">
                    {foreach $twoList as $tList}
                        {eq name="tList.p_id" value="$nList.id"}
                            &nbsp;　　&nbsp;<input type="checkbox" id="sel{$nList.id}" name="nodeId[]" value="{$tList.id}"  {if in_array($tList.id,$rList)} checked {/if} />{$tList.name|default=''}<br/>
                        {/eq}
                    {/foreach}
                </div>
            {/foreach}
        </div>
        <div class="formBar">
            <label style="float:left"><input type="checkbox" class="checkboxCtrl" group="nodeId[]"/>全选</label>
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="checkboxCtrl" group="nodeId[]" selectType="invert">
                                反选
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">提交</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>   
    function clickData(obj){
        var id=$(obj).attr("id");
        if($(obj).prop("checked") == true) {
            $("input[id='"+id+"']").prop("checked", true);
        }else{
            $("input[id='"+id+"']").prop("checked", false);
        }
    } 
</script>
