{include file="public::pagerForm"/}
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{:url('user/adminIndex')}" method="post">
	<div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        用户名：<input type="text" name="name"  value="{$Think.post.name}"/>
                    </td>
                    <td>
                        昵称：<input type="text" name="nick_name" value="{$Think.post.nick_name}"/>
                    </td>
                    <td>
                        电话：<input type="text" name="tel" value="{$Think.post.tel}"/>
                    </td>
                    <td>
                        邮箱：<input type="text" name="email" value="{$Think.post.email}"/>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
	</div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="{:url('User/show',array('sign'=>code('2',1),'db'=>code('Admin',1)))}" target="dialog" mask="true" width='600' height='400'><span>添加用户</span></a></li>
            <li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="id[]" href="{:url('User/del',array('db'=>code('Admin',1)))}" class="delete"><span>批量删除</span></a></li>
            <li><a class="edit" href="/admin/user/show/id/{l_id}/sign/<?php echo code('2',1);?>/db/<?php echo code('Admin',1)?>" target="dialog" mask="true" warn="请选择一条信息" width='600' height='400'><span>修改用户</span></a></li>
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="88%" layoutH="138">
        <thead>
            <tr>
                <th width="22"><input type="checkbox" group="id[]" class="checkboxCtrl"></th>
                <th width="40"  align="center">序号</th>
                {eq name="Think.session.authId" value="1"}
                    <th width="40" align="center" orderField='id' {if (input('_order')=='id')} class="{$Think.post._order}" {/if} >id</th>
                    <th width="150" align="center" orderField='last_logintime' {if (input('_order')=='last_logintime')} class="{$Think.post._order}" {/if} >上次登录时间</th>
                {/eq}
                <th width="100" align="center">用户名</th>
                <th width="100" align="center">昵称</th>
                <th width="100" align="center">电话</th>
                <th width="120" align="center">邮箱</th>
                <th width="100" align="center">角色</th>
                <th width="140" align="center" orderField='add_time' {if (input('_order')=='add_time')} class="{$Think.post._order}" {/if} >注册日期</th>
                <th width="150" align="center">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $k=>$vo}
                <tr target="l_id" rel="{$vo.id}">
                    <td><input name="id[]" value="{$vo.id}" type="checkbox"></td>
                    <td>{$k+1}</td>
                    {eq name="Think.session.authId" value="1"}
                        <td>{$vo.id|default=''}</td>
                        <td>{$vo.last_logintime|date="Y-m-d H:i:s"}</td>
                    {/eq}
                    <td style='color:blue'>{$vo.name}</td>
                    <td style='color:royalblue'>{$vo.nick_name|default=''}</td>
                    <td>{$vo.tel}</td>
                    <td>{$vo.email}</td>
                    <td style='color:green'>{$vo.id|getAdminRole}</td>
                    <td>{$vo.add_time|date='Y-m-d H:i:s'}</td>
                    <td>
                        <a title="确定删除该用户" target="ajaxTodo" href="{:url('User/del',array('id'=>code($vo['id'],1),'db'=>code('Admin',1)))}" style='color:red'>删除</a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span>条，共{$totalCount}条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="6"  currentPage="{$currentPage}"></div>
    </div>
</div><style type="text/css" media="screen">
    .imgs div{height:100px!important;}
</style>
