{include file="Public:pagerForm"/}
<div class="pageHeader">
    {if isset($type)&&$type==1}
        <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{:url('system/optionLog')}" method="post">
    {else/}
        <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{:url('system/loginLog')}" method="post">
    {/if}
	<div class="searchBar">		
            <table class="searchContent">
                <tr>
                    {if isset($type)&&$type==1}
                        <td>
                            内容关键字：<input type="text" name="content" value="{$Think.post.content}"/>
                        </td> 
                    {/if}
                    <td>
                        操作人：<input type="text" name="userId"  value="{$Think.post.userId}"/>
                    </td>
                    <td>
                        添加时间：<input type="text" name="add_time" class="date" readonly="true" value="{$Think.post.add_time}"/>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
	</div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">  
            <li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="id[]" href="{:url('system/delete',array('db'=>code('Log',1)))}" class="delete"><span>批量删除</span></a></li>                  
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="70%" layoutH="138">
        <thead>
            <tr>
                <th width="22"><input type="checkbox" group="id[]" class="checkboxCtrl"></th>
                <th width="50"  align="center">序号</th>
                {if isset($type)&&$type==1}
                    <th width="60" orderField='user_id' {if (input('_order')=='user_id')} class="{$Think.post._sort}" {/if}  align="center">操作人</th>
                    <th width="60" align="center">数据库</th>
                    <th width="240" >内容</th>
                    <th width="120"  orderField='add_time' {if (input('_order')=='add_time')} class="{$Think.post._sort}" {/if} align="center">添加时间</th>
                {else/}
                    <th width="60" orderField='user_id' <{if (input('_order')=='user_id')} class="{$Think.post._sort}" {/if} align="center">登录人</th>
                    <th width="80" align="center">ip</th>
                    <th width="100" align="center">地点</th>
                    <th width="120"  orderField='add_time' {if (input('_order')=='add_time')} class="{$Think.post._sort}" {/if} align="center">登录时间</th>
                {/if}
                <th width="70" align="center">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $k=>$vo}
                <tr target="l_id" rel="{$vo.id}">
                    <td><input name="id[]" value="{$vo.id}" type="checkbox"></td>
                    <td>{$k+1}</td>
                    <td style="color:blue">{$vo.user_id|getAdminName}</td>
                    {if isset($type)&&$type==1}
                        <td style="color:green">{$vo.db}</td>
                        <td>{$vo.content}</td>
                    {else/}
                        <td style="color:green">{$vo.ip}</td>
                        <td>{$vo.addr}</td>
                    {/if}
                    <td>{$vo.add_time|date="Y-m-d H:i:s"}</td>
                    <td>
                        <a title="确定删除该记录" target="ajaxTodo" href="{:url('System/delete',array('id'=>code($vo['id'],1),'db'=>code('Log',1)))}" style='color:red'>删除</a>                       
                    </td>
                </tr>
            {/foreach}
        </tbody>        
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span>条，共{$totalCount}条</span>          
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="6"  currentPage="{$currentPage}"></div>
    </div>
</div>
